<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.daniel.pontoaponto">

    <uses-permission android:name="android.permission.INTERNET"/> <!-- Internet -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> <!-- GPS -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- GSM -->
    <application
            android:icon="@mipmap/ic_icone"
            android:label="AppBusao"
            android:roundIcon="@mipmap/ic_icone"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"> <!-- Retira o toolbar -->
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".referencia.CourseActivity"
                android:launchMode="singleTop">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
                android:name=".Activities.ListaPontoActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".Activities.ListaPontoMaisProximoActivity"
                android:launchMode="singleTop">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
                android:name=".referencia.CourseDetailActivity"
                android:label="Course Detail"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.android.daniel.pontoaponto.referencia.CourseActivity"/>
        </activity>
        <activity
                android:name=".referencia.CourseLessonActivity"
                android:label="Course Lesson"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.android.daniel.pontoaponto.referencia.CourseDetailActivity"/>
        </activity>
        <activity
                android:name=".Activities.ListaLinhaActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".Activities.LinhaPontoActivity"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.android.daniel.pontoaponto.Activities.ListaPontoMaisProximoActivity"/>
        </activity>
        <activity
                android:name=".Activities.LinhaPontoHoraActivity"
                android:launchMode="singleTop">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.android.daniel.pontoaponto.Activities.LinhaPontoActivity"/>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>

        <activity android:name=".Activities.PDFReader">
        </activity>
        <activity android:name=".Activities.TutorialActivity">
        </activity>
        <activity android:name=".Activities.SobreActivity">
        </activity>
        <activity android:name=".Activities.Contato">
        </activity>
    </application>

</manifest>