<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.daniel.pontoaponto">

    <uses-permission android:name="android.permission.INTERNET" /> <!--Internet-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />  <!--GPS-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!--GSM-->

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"> <!--Retira o toolbar-->
        <activity android:name="com.android.daniel.pontoaponto.Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.android.daniel.pontoaponto.referencia.CourseActivity"
            android:launchMode="singleTop">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name="com.android.daniel.pontoaponto.Activities.ListaPontoActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name="com.android.daniel.pontoaponto.Activities.ListaPontoMaisProximoActivity"
            android:launchMode="singleTop">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name="com.android.daniel.pontoaponto.referencia.CourseDetailActivity"
            android:label="Course Detail"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.daniel.pontoaponto.referencia.CourseActivity" />
        </activity>
        <activity
            android:name="com.android.daniel.pontoaponto.referencia.CourseLessonActivity"
            android:label="Course Lesson"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.daniel.pontoaponto.referencia.CourseDetailActivity" />
        </activity>
        <activity
            android:name="com.android.daniel.pontoaponto.Activities.ListaLinhaActivity"
            android:launchMode="singleTop"></activity>

        <activity
            android:name="com.android.daniel.pontoaponto.Activities.LinhaPontoActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.daniel.pontoaponto.Activities.ListaPontoMaisProximoActivity" />
        </activity>
        <activity
            android:name="com.android.daniel.pontoaponto.Activities.LinhaPontoHoraActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.daniel.pontoaponto.Activities.LinhaPontoActivity" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>